*{
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.container1{
    width: 370px;
    height: 549px;
    padding-left: 10px;
    padding-top: 10px;
}

.container2{
    width: 1067px;
    height: 550px;
    padding-top: 10px;
}

#box1{
    width: 320px;
    height: 86px;
    border: 3px solid #0d0b0c;
    font-size: 18.77px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 31.78px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0d0b0c;
    border-radius: 9.88px;
}

.one{
    display: flex;
    background-color: #0d0b0c; 
    font-family: sans-serif;      /* background color #1f1c1e*/
}       

.two{
    opacity: 0.7;
    display: flex;
    background-color: #0d0b0c;
}

.two:hover{
    opacity: 1;  
}

.box2{
    width: 357px;
    height: 414px;
    border: 3px solid #0d0b0c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0d0b0c;
    border-radius: 9.88px;
    padding-top: 15px;
}

.upmenu{
    height: 40px;
    display: flex;align-items: center;
    padding-left: 23px;
    background-color: #0d0b0c;

}

#part1{
    display: flex;
    opacity: 0.66;
    background-color: #0d0b0c;
    font-size: 17px;
}

#part1:hover{
    display: flex;
    opacity: 1;
}


.xx1{
    padding-left: 15.8px;
      background-color: #0d0b0c;
}

.xx{
    padding-left: 15.8px;
      background-color: #0d0b0c;
}

#btnn{
    border: #fff;
    color: black;
    background-color: #fff;
    font-size: 14px;
    border-radius: 100px;
    height:34px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnn2{
    border: #fff;
    color: black;
    background-color: #fff;
    font-size: 14px;
    border-radius: 100px;
    height:34px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc1{
    width: 322px;
    height: 130px;
    border: 3px solid #1f1c1e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #1f1c1e;
    border-radius: 10.2px;
    display: flex;
    flex-direction: column;

    
}

.doc2{
    width: 322px;
    height: 130px;
    border: 3px solid #1f1c1e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #1f1c1e;
    border-radius: 10.2px;
}

#para4{
    padding-top: 15px;
    padding-left: 21px;
    color: #fff;
    background-color: #1f1c1e;
    font-size: 18.72;
}

#para5{
    padding-left: 21px;
    color: #fff;
    background-color: #1f1c1e;
    font-size: 13.28px;
}

.head100{
    background-color: #1f1c1e;
    padding-left: 21.89px;
}

.head100:hover{
   transform: scale(1.1);
}

.head101:hover{
    transform: scale(1.1);
 }
.head101{
    background-color: #1f1c1e;
    padding-left: 21.89px;
}

#icon20{
background-color: #0d0b0c;
font-size: 20px;
opacity: 0.7;
}

#icon21{
  background-color: #0d0b0c;
  font-size: 20px;
  opacity: 0.7;  
}

#icon20:hover{
    opacity: 1;
    }
    
    #icon21:hover{
      
     opacity: 1;  
    }
    
.flexing{
    display: flex;

}


/*Now container 2 CSS START */

.box15{
    height: 50px;
    width: 1000px;
    background-color:#0d0b0c;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 30px;
}

.square{
    background-color:#0d0b0c;
    height: 540px;
    width: 1055px;
    border: 2px solid #0d0b0c;
    border-radius: 9.88px;
    overflow: auto;
}

.circle{
    height: 38px;
    width: 38px;
    border-radius: 50px;
    background-color: #1f1c1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dibba1{
    display: flex;
    background-color: #0d0b0c;
}

.dibba2{
    display: flex;
    background-color: #0d0b0c;
}

.btnn3{
    height: 34px;
    width: 150px;
    background-color: #fff;
    color:#0d0b0c;
    font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius:100px ;
}

.btnn3:hover{
    transform: scale(0.944);
}

.btnn4{
    height: 34px;
    width: 150px;
    background-color: #1f1c1e;
    color:#fff;
    font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius:100px ;
}

.btnn4:hover{
    transform: scale(0.944);
}

.circle1{
    height: 38px;
    width: 38px;
    border-radius: 50px;
    background-color: #1f1c1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1:hover{
    transform: scale(0.895);
}

.circle2:hover{
    transform: scale(0.895);
}

.circle2{
    height: 38px;
    width: 38px;
    border-radius: 50px;
    background-color: #1f1c1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head69{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 40px;
    background-color: #0d0b0c;
}
.head69:hover{
    text-decoration: underline;
}


/*now making song card */

.songcard2{
    height: 270px;
    width: 1000;
    display: flex;
    justify-content: space-evenly;
    background-color: #0d0b0c;
}

.card1,.card2,.card3,.card4,.card5{
    height: 250px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #1f1c1e;
    background-color: #1f1c1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.688;
}

.card1:hover{
    opacity: 1;
}

.pics1,.pics2,.pics3,.pics4,.pics5{
    height:150px ;
    width:180px ;
    border-radius: 20px;
}

.linen{
    background-color: #1f1c1e;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

.studio{
    background-color: #1f1c1e;
    font-size: 15px;
    opacity: 0.6;
    font-family: sans-serif;
    font-weight: bold;
}

.card2:hover{
    opacity: 1;
}

.card3:hover{
    opacity: 1;
}

.card4:hover{
    opacity: 1;
}

.card5:hover{
    opacity: 1;
}

/* song card 22*/

.songcard3{
    height: 270px;
    width: 1000;
    display: flex;
    justify-content: space-evenly;
    background-color: #0d0b0c;
}

.card6,.card7,.card8,.card9,.card10{
    height: 250px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #1f1c1e;
    background-color: #1f1c1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.688;
}

.card6:hover{
    opacity: 1;
}

.pics6,.pics7,.pics8,.pics9,.pics10{
    height:150px ;
    width:180px ;
    border-radius: 20px;
}

.card7:hover{
    opacity: 1;
}

.card8:hover{
    opacity: 1;
}

.card9:hover{
    opacity: 1;
}

.card10:hover{
    opacity: 1;
}

.lastbox{
    height: 250px;
    width: 1030px;
    background-color: #0d0b0c;
    display: flex;
    justify-content: space-around;
    padding-top: 43px;
}

.headings{
    font-size: 26px;
    background-color: #0d0b0c;
}

p{
    font-size: 18px;
    opacity: 0.5;
    background-color: #0d0b0c;
}

p:hover{
    opacity: 1;
    text-decoration: underline;
}


#comp,#comm,#links{
    background-color: #0d0b0c;
    font-weight: bold;
}

.ci{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #0d0b0c;
}

#ict{
    opacity: 0.8;
}

#ict:hover{
    opacity: 1;
}















